
    <div class="profile-card" style="text-align:center">
      <div class="top-section">
        <i class="message fas fa-envelope"></i>
        <i class="notif fas fa-bell"></i>
        <div class="pic">
          <img src="../../assets/img/images1.jfif" alt="">
        </div>
        <div *ngFor="let u of utilisateurs">
            <div class="name">{{u.firstName}} {{    u.lastName}}</div>
            <div class="tag">{{u.email}}</div>
          </div>
        </div>

      <div class="bottom-section">
        <div class="social-media">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fas fa-link"></i></a>
        </div>

        <div class="videos">60+ <span>Posts</span></div>
        <div class="border"></div>
        <div class="subscribers">200+ <span>Web Subscribers</span></div>
        <div class="border"></div>
        <div class="views">500k <span>Views</span></div>
      </div>
      <button (Click)="f()">ggg</button>
    </div>
    
        
        
    
