
<body>

    
    <form  >
     <h3  style="text-align: center">utilisateur</h3>
        <legend>
        <fieldset>
      <div class="container">
        <label for="adress"><b>adress </b></label>
        <input type="text" required ngModel name="adress">
        <label for=" password "><b>mot de passe</b></label>
        <input type="text" required ngModel name="password">
        
            
        <button type="submit">Login</button>
        
      </div>
    </fieldset>
    </legend>
    </form>
    
    </body>
    