
<body>

    
    <form  >
      <legend>
        <fieldset>
      <div class="container">
        <label for="firstname"><b>firstname</b></label>
        <input type="text" required ngModel name="firstname">
        <label for="lastname"><b>lastname</b></label>
        <input type="text" required ngModel name="lastname">
        <label for="email"><b>email</b></label>
        <input type="text" required ngModel name="email">
        <label for="age"><b>age</b></label>
        <input type="text" required ngModel name="age">
        <label for="psw"><b>Password</b></label>
        <input type="password" required ngModel name="password">
            
        <button type="submit"  (click)="conn()">Login</button>
      </div>
    </fieldset>
    </legend>
    </form>
    
    </body>
 