<body >
  
      <header class="masthead"  >
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center" id="acueil">
                <div class="col-lg-8 align-self-end" style="margin-left: 300px;">
                    <h1 class="text-white font-weight-bold" style="text-align: center;">Bienvenue chez Mezzo Recrute</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5"style="margin-left: 300px;">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>
                    <table width="250%">
                      <tr>
                        <td>
                    <a class="btn btn-primary btn-xl" style="margin-left: 300px;" routerLink="login"  >Creér un compte</a></td><td width="60%">
                    
                     </td></tr>
                    </table>
                </div>
            </div>
        </div>
       
    </header>
    <div style="text-align: center" >
      <router-outlet id="log"></router-outlet>
    </div>
      <table   border =0 width=100%  style="margin-top:100px ;">
        <tr><td style="text-align: center;"><i id="apropos" style="margin-top: 1000px;">
          <b>A propos de nous :</b> <br>
               3 SUISSES INTERNATIONAL  est une entreprise française fondée en 1932 et figure parmi les leaders de la vente à distance en Europe.<br>
       
               Ses activités se répartissent entre l''activité de commerce sans distance et l''activité de services au commerce sans distance.<br>
               
               Avec un chiffre d''affaires 2010 de 2,1 milliards d''€ (hors participations financières) et 8 000 collaborateurs actifs sur 16 pays,<br>
                le groupe 3 SUISSES INTERNATIONAL est le 2ème groupe de e-commerce en France <br>
                et 7ème groupe de e-commerce en Europe avec plus de 11 millions de commandes par an traitées pour presque 6 millions de clients.<br>
               
               Depuis 2004, MEZZO (filiale du Groupe 3 SUISSES INTERNATIONAL),<br> 
               qui privilégie la complémentarité des compétences par le choix de ses localisations,
                a décidé d’externaliser une partie de son call center en Tunisie.<br>
               
               MEZZO s’adresse à des entreprises de vente à distance de produits ou de services et propose la palette complète des services d’un centre de contacts :<br>
                accueil client, prospection, saisie de commande, service après-vente, télévente, télémarketing, recouvrement.<br>
                 Sa prestation est une solution de services adaptée en gestion de contacts entrants et sortants (tous médias confondus : téléphone, mail, courrier, fax, SMS.)
                </i></td>
           </tr>
        <tr>
          <td width="45%"> 
            <div class="conteneur1" style="margin-left: 200px ; "  >
              <div class="d1"></div>
            </div>
            <div class="conteneur1" style="margin-left: 200px ; "  >
              <div class="d2"></div>
            </div>
          </td> </tr>
          
      </table>
      <footer class="bg-light py-5" id="contact" style="margin-top:300px ;">
        <table width=100% >
          <tr>
            <td width="40%" >
                <img src="assets/img/mezzo.png" alt="" >
            </td>
            <th width="30%">
              Contact
            </th>
            <th width="30%">
              Nos Pôles d’expertises
            </th>
          </tr>
          <tr>
            <td>
              Depuis 2005, Mezzo oriente l’ensemble de ses énergies <br>
              à l’amélioration continue de ses engagements de qualité <br>
              et d’innovation participative.
            </td>
            <td>
              1 ter Avenue de la Marne<br>
                59290 Wasquehal<br>
              +33(0)3 59 30 53 00<br>
                relation@somezzo.com
            </td>
            <td>
              Mezzo RC <br>
              Mezzo Premium<br>
              Mezzo Solutions
            </td>
          </tr>
        </table>
      </footer>
    </body>