header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1, header.masthead .h1 {
      font-size: 3.5rem;
    }
  }
  /*
  .image{
    background-image:  
                       url("../assets/img/bg-masthead.jpg");
  }*/
  /* css du dropdown */
  :root {
    --list-padding: 10px;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  nav {
    color: rgb(22, 21, 21);
    background-color: #121212;
    padding: 10px 40px;
  }
  
  nav > ul {
    display: flex;
    width: max-content;
    margin: 0 auto;
  }
  
  nav ul li a {
    width: 150px;
    padding-top: var(--list-padding);
    padding-bottom: var(--list-padding);
    text-align: center;
    display: block;
  }
  
  nav ul li a ion-icon {
    vertical-align: middle;
  }
  
  nav ul li a:hover {
    color: white;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul li ul {
    position: absolute;
    top: calc(100% + var(--list-padding));
    left: 0;
    background-color: bisque;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
  }
  
  nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    box-shadow: var(--shadow);
  }
  
  nav ul li ul li:not(:last-child) {
    border-bottom: 1px solid #121212;
  }

  /* css du diapo   */
  .conteneur1{
    overflow: hidden;
    max-width: 1500px;  
    max-height: 1500px;
    /*margin: 50px auto;*/
    box-shadow: 0px 15px 10px -5px #777;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.d1{
  
    width: 3840px;
    height: 720px;
    background-color: #d31515;
    background-image: url("../../assets/img/images1.jfif");
    background-size: contain;
    animation: defilement1 10s linear infinite;
}
.d2{
 
  width: 3840px;
  height: 720px;
  background-color: #d31515;
  background-image: url("../../assets/img/images2.jfif");
  background-size: contain;
  animation: defilement1 10s linear infinite;
}
@keyframes defilement1{
    0%{transform: translate(0,0);}
    100%{transform: translate(-2880px,0);}
}
.conteneur2{
    max-width: 960px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #777;
}
  
@keyframes defilement2{
    0%{transform: translate(0,0);}
    100%{transform: translate(-75%,0);}
}
.d1:hover, .d2:hover{
    animation-play-state: paused;
}
.d3{
  background-color: burlywood;
}