<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/img/mezzo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#acueil"><button type="button" class="btn btn-success">Accueil</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="test"  ><button type="button" class="btn btn-success">test</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="profil"  ><button type="button" class="btn btn-success">profil</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#apropos"><button type="button" class="btn btn-success">A propos</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#contact"><button type="button" class="btn btn-success"> Nos Contact</button></a>
        </li>
        <li class="nav-item dropdown">
      <button  ype="button" class="btn btn-success">    
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" href="#">Connexion </a> </button>
          <ul>
            <li><a routerLink="simpleutilisateur">Simple Utilisateur</a></li>
            <li><a routerLink="admin">Admin</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"><button type="button" class="btn btn-success" routerLink="login">Login</button></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
